{{#navigation-bar styleClass='navigation_black'}}{{/navigation-bar}}

<div class="container">
  <h1 class="complete_reservation_title">Search results</h1>

  {{#restaurant-reservation-tables}}{{/restaurant-reservation-tables}}
</div>