{{#navigation-bar styleClass='navigation_black'}}{{/navigation-bar}}

<div class="container">
  <div class="row">
    <div class="col-md-6 col-center-block login_register_container">
      <h1 class="title">Forgot password</h1>

      <form data-toggle="validator">
        <div class="form-group">
          {{input type="email" class="form-control input_fields" value=email placeholder="Email"}}
        </div>

        <button {{action 'sendEmail'}} class="btn button">Submit</button>
      </form>
     </div>
  </div>
</div>