{{#navigation-bar styleClass='navigation_white'}}{{/navigation-bar}}

<div class="home_header_big">
  <div class="background">
    <h1>Make a free reservation</h1>
    <h2>Choose your table from 6 restaurants near you</h2>
  </div>
</div>

<h1 class="homepage_title">Popular for Lunch Today</h1>

<div class="container" style="overflow:auto;">
  {{#each model.listRestaurants as |restaurantlist|}}
    {{#restaurant-item restaurantlist=restaurantlist}}{{/restaurant-item}}
  {{else}}
    Sorry, nobody is here.
  {{/each}}
</div>

<h1 class="homepage_title" style="margin-bottom:75px;">Popular locations</h1>
<div class="container" style="overflow:auto; margin-bottom:205px;">
  {{#each model.listRestaurantsLocations as |restaurantsLocation|}}
    <div class="homepage_location">
      <a class="location">{{restaurantsLocation.location}}</a>
      <div class="details">{{restaurantsLocation.number}} restaurants</div>
    </div>
  {{/each}}
</div>
