{{#navigation-bar styleClass='navigation_black'}}{{/navigation-bar}}

<div class="container">
  <div class="row">
    <div class="col-md-6 col-center-block login_register_container">
      <h1 class="title">Reset password</h1>

      <form data-toggle="validator">

        <div class="form-group">
          {{input type="password" class="form-control input_fields" value=user.password placeholder="Password"}}
        </div>

        <div class="form-group">
          {{input type="password" class="form-control input_fields" value=user.confirmpassword placeholder="Confirm Password"}}
        </div>

        <div class="form-group loginNotifications">
          <div class="alert alert-danger" role="alert">
            <div class="alertText"></div>
          </div>
        </div>

        <button {{action 'resetPassword'}} class="btn button">Reset password</button>
      </form>
     </div>
  </div>
</div>