<div class="container" style="overflow:auto;">

  <div class="restaurant_box">
    <img class="restaurant_thumb" src="assets/images/restaurant_thumb.png" />
    {{#link-to 'restaurant' class='restaurant_name'}}Restaurant name{{/link-to}}
    <div class="restaurant_marks">
      <img src="assets/images/star_active.png" />
      <img src="assets/images/star_active.png" />
      <img src="assets/images/star_active.png" />
      <img src="assets/images/star_active.png" />
      <img src="assets/images/star_inactive.png" />
      <span class="votes">(1745)</span>
      <span class="price_range">
        <span class="active">$$$$</span>$
      </span>
    </div>
    <div class="restaurant_food">Italian | International | Mediterranean</div>
    <a class="restaurant_reserve" href="#">Reserve now</a>
  </div>








  <div class="restaurant_box">
      <img class="restaurant_thumb" src="assets/images/restaurant_thumb.png" />
      {{#link-to 'restaurant' class='restaurant_name'}}Restaurant name{{/link-to}}
      <div class="restaurant_marks">
        <img src="assets/images/star_active.png" />
        <img src="assets/images/star_active.png" />
        <img src="assets/images/star_active.png" />
        <img src="assets/images/star_active.png" />
        <img src="assets/images/star_inactive.png" />
        <span class="votes">(1745)</span>
        <span class="price_range">
          <span class="active">$$$$</span>$
        </span>
      </div>
      <div class="restaurant_food">Italian | International | Mediterranean</div>
      <a class="restaurant_reserve" href="#">Reserve now</a>
    </div>
    <div class="restaurant_box">
        <img class="restaurant_thumb" src="assets/images/restaurant_thumb.png" />
        {{#link-to 'restaurant' class='restaurant_name'}}Restaurant name{{/link-to}}
        <div class="restaurant_marks">
          <img src="assets/images/star_active.png" />
          <img src="assets/images/star_active.png" />
          <img src="assets/images/star_active.png" />
          <img src="assets/images/star_active.png" />
          <img src="assets/images/star_inactive.png" />
          <span class="votes">(1745)</span>
          <span class="price_range">
            <span class="active">$$$$</span>$
          </span>
        </div>
        <div class="restaurant_food">Italian | International | Mediterranean</div>
        <a class="restaurant_reserve" href="#">Reserve now</a>
      </div>
      <div class="restaurant_box">
          <img class="restaurant_thumb" src="assets/images/restaurant_thumb.png" />
          {{#link-to 'restaurant' class='restaurant_name'}}Restaurant name{{/link-to}}
          <div class="restaurant_marks">
            <img src="assets/images/star_active.png" />
            <img src="assets/images/star_active.png" />
            <img src="assets/images/star_active.png" />
            <img src="assets/images/star_active.png" />
            <img src="assets/images/star_inactive.png" />
            <span class="votes">(1745)</span>
            <span class="price_range">
              <span class="active">$$$$</span>$
            </span>
          </div>
          <div class="restaurant_food">Italian | International | Mediterranean</div>
          <a class="restaurant_reserve" href="#">Reserve now</a>
        </div>
        <div class="restaurant_box">
            <img class="restaurant_thumb" src="assets/images/restaurant_thumb.png" />
            {{#link-to 'restaurant' class='restaurant_name'}}Restaurant name{{/link-to}}
            <div class="restaurant_marks">
              <img src="assets/images/star_active.png" />
              <img src="assets/images/star_active.png" />
              <img src="assets/images/star_active.png" />
              <img src="assets/images/star_active.png" />
              <img src="assets/images/star_inactive.png" />
              <span class="votes">(1745)</span>
              <span class="price_range">
                <span class="active">$$$$</span>$
              </span>
            </div>
            <div class="restaurant_food">Italian | International | Mediterranean</div>
            <a class="restaurant_reserve" href="#">Reserve now</a>
          </div>
          <div class="restaurant_box">
              <img class="restaurant_thumb" src="assets/images/restaurant_thumb.png" />
              {{#link-to 'restaurant' class='restaurant_name'}}Restaurant name{{/link-to}}
              <div class="restaurant_marks">
                <img src="assets/images/star_active.png" />
                <img src="assets/images/star_active.png" />
                <img src="assets/images/star_active.png" />
                <img src="assets/images/star_active.png" />
                <img src="assets/images/star_inactive.png" />
                <span class="votes">(1745)</span>
                <span class="price_range">
                  <span class="active">$$$$</span>$
                </span>
              </div>
              <div class="restaurant_food">Italian | International | Mediterranean</div>
              <a class="restaurant_reserve" href="#">Reserve now</a>
            </div>
</div>

<h1 class="homepage_title" style="margin-bottom:75px;">Popular locations</h1>

<div class="container" style="overflow:auto; margin-bottom:205px;">
  <div class="homepage_location">
    <a class="location" href="#">Sarajevo</a>
    <div class="details">316 restaurants</div>
  </div>


  <div class="homepage_location"><a class="location" href="#">Sarajevo</a><div class="details">316 restaurants</div></div>
  <div class="homepage_location"><a class="location" href="#">Sarajevo</a><div class="details">316 restaurants</div></div>
  <div class="homepage_location"><a class="location" href="#">Sarajevo</a><div class="details">316 restaurants</div></div>
  <div class="homepage_location"><a class="location" href="#">Sarajevo</a><div class="details">316 restaurants</div></div>
  <div class="homepage_location"><a class="location" href="#">Sarajevo</a><div class="details">316 restaurants</div></div>
  <div class="homepage_location"><a class="location" href="#">Sarajevo</a><div class="details">316 restaurants</div></div>
  <div class="homepage_location"><a class="location" href="#">Sarajevo</a><div class="details">316 restaurants</div></div>
  <div class="homepage_location"><a class="location" href="#">Sarajevo</a><div class="details">316 restaurants</div></div>
  <div class="homepage_location"><a class="location" href="#">Sarajevo</a><div class="details">316 restaurants</div></div>
  <div class="homepage_location"><a class="location" href="#">Sarajevo</a><div class="details">316 restaurants</div></div>
  <div class="homepage_location"><a class="location" href="#">Sarajevo</a><div class="details">316 restaurants</div></div>
  <div class="homepage_location"><a class="location" href="#">Sarajevo</a><div class="details">316 restaurants</div></div>
  <div class="homepage_location"><a class="location" href="#">Sarajevo</a><div class="details">316 restaurants</div></div>
  <div class="homepage_location"><a class="location" href="#">Sarajevo</a><div class="details">316 restaurants</div></div>
  <div class="homepage_location"><a class="location" href="#">Sarajevo</a><div class="details">316 restaurants</div></div>
  <div class="homepage_location"><a class="location" href="#">Sarajevo</a><div class="details">316 restaurants</div></div>
  <div class="homepage_location"><a class="location" href="#">Sarajevo</a><div class="details">316 restaurants</div></div>
  <div class="homepage_location"><a class="location" href="#">Sarajevo</a><div class="details">316 restaurants</div></div>

</div>
