{{#navigation-bar styleClass='navigation_black'}}{{/navigation-bar}}

<div class="container">
  <div class="box_shadow restaurants_filter">
    <div class="form-group" style="height:54px; overflow:visible;">
      <div class="reservation_column_search_icon">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </div>
      <div class="reservation_column_input">
        {{input type="text" class="form-control input_fields" value=model.filter.searchText placeholder="Search for a restaurant..."}}
      </div>
      <div class="reservation_column_filter">
        Filter by <span class="glyphicon glyphicon-chevron-down arrow_down" aria-hidden="true"></span>
        <div class="filter_details box_shadow"><div class="triangle"></div>
          <div class="row" style="border-bottom-style:solid; border-bottom-width:1px; border-bottom-color:#e7eaec; margin-bottom:10px;">
            <div class="col-md-6">
              <h4>PRICE</h4>
              {{#restaurant-price-range max=5 value=model.filter.priceRange filter=true clickDolar="clickDolar"}}{{/restaurant-price-range}}
            </div>
            <div class="col-md-6">
              <h4>RATING</h4>
              {{#restaurant-star max=5 value=model.filter.mark votes=1 filter=true clickStar="clickStar"}}{{/restaurant-star}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h4>COUSINE</h4>
               <div class="cousines">
                {{#each model.categories as |category|}}
                  {{#restaurant-category categoryName=category.name categoryId=category.id categoriesSelected=model.filter.categories clickCategory="clickCategory"}}{{/restaurant-category}}
                {{/each}}
               </div>
            </div>
          </div>
        </div>
      </div>
      <div class="reservation_column_button"><button {{action 'search'}} class="btn button">Search</button></div>
    </div>
  </div>
</div>

<div class="container" style="overflow:auto;">
  {{#each model.listRestaurants as |restaurantlist|}}
    {{#restaurant-item restaurantlist=restaurantlist}}{{/restaurant-item}}
  {{else}}
    Sorry, nobody is here.
  {{/each}}
</div>

<div class="container">
  <nav class="restaurants_nav_pagination">
    <ul class="pagination">
      {{#each model.restaurantsPages as |restaurantsPages|}}
          {{#pagination-number itemNumber=restaurantsPages currentActivePage=model.currentPageNumber changePage="changePage"}}{{/pagination-number}}
      {{/each}}
    </ul>
  </nav>
</div>

<h1 class="homepage_title" style="margin-bottom:75px;">Popular locations</h1>
<div class="container" style="overflow:auto; margin-bottom:205px;">
  {{#each model.listRestaurantsLocations as |restaurantsLocation|}}
    {{#restaurant-location clickLocation='clickLocation' activeLocation=model.filter.location restaurantsLocation=restaurantsLocation }}{{/restaurant-location}}
  {{/each}}
</div>
