<div class="restaurant_header_big">
  <div class="background"></div>
</div>

<div class="container restaurant_main_container">
  <div class="row">
    <div class="col-md-3">
      <div class="restaurant_thumb_container box_shadow">
        <img src="assets/images/restaurant_thumb.png" width="210" />
      </div>

      <ul class="restaurant_left_menu">
        <li><a href="javascript:void(0);">Reservation</a></li>
        <li><a href="javascript:void(0);">About</a></li>
        <li><a href="javascript:void(0);">Menu</a></li>
        <li><a href="javascript:void(0);">Photos</a></li>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="restaurant_details">
        <h1 class="title">Restaurant name</h1>
        <div class="stats">
          <img src="assets/images/star_active.png" />
          <img src="assets/images/star_active.png" />
          <img src="assets/images/star_active.png" />
          <img src="assets/images/star_active.png" />
          <img src="assets/images/star_inactive.png" />
          <span class="votes">(1745)</span>
          <span class="price_range">
            <span class="active">$$$$</span>$
          </span>
          <span class="restaurant_food">Italian | International | Mediterranean</span>
        </div>
      </div>

      <div class="box_shadow">ovdje idu detalji o restoranu</div>
    </div>
  </div>
</div>