{{#navigation-bar styleClass='navigation_black'}}{{/navigation-bar}}

<div class="container">
  <h1>Terms of use</h1>

  <h2>Introduction</h2>

  <ul>
    <li>Your privacy is important to us and we want to protect it. We will not share your personal information with anyone other than as described in our Privacy Policy. Please see our {{#link-to 'privacypolicy'}}Privacy Policy{{/link-to}} for details.</li>
    <li>As a condition of account registration and sign-in, RestaurantABH requires you give us permission to send you administrative and promotional emails. We will send you information regarding your account activity and purchases as well as updates about our products, services, and promotional offers. You can opt-out of our promotional emails anytime by logging in to your account on RestaurantABH or by hitting the unsubscribe button at the bottom of any of our email correspondence. Please see our {{#link-to 'privacypolicy'}}Privacy Policy{{/link-to}} for details.</li>
  </ul>

  <h2>Registration</h2>

  <p>In order to purchase, redeem or use any products or services through the Site, or access certain other features of the Site, you may be required to register and select a password and user name. If you register, you agree to provide us with accurate and complete registration information, and to inform us immediately of any updates or other changes to such information. You may not select or use a false name or an email address owned or controlled by another person with the intent to impersonate that person or use as a user name a name that is subject to any rights of a person other than you without proper authorization.</p>

  <h2>Content ownership</h2>

  <p>RestaurantABH means all text, graphics, user and visual interfaces, photographs, trademarks, logos, sounds, music, artwork, applications, computer code and associated documentation found on or associated with the Site other than User Content (defined below) including but not limited to the Site as a collective work, the design, structure arrangement and “look and feel” of the RestaurantABH Content. RestaurantABH Content is owned by or licensed to RestaurantABH and is protected by copyright, trademark, and other intellectual property rights and laws. Except as expressly provided in these Terms & Conditions, no RestaurantABH Content may be copied, reproduced, sold, republished, transmitted, displayed, reposted, or otherwise distributed for public or commercial purposes. Nothing contained in these Terms & Conditions shall be deemed to grant to you or any other user any rights, title, or interest in or to any copyright, trademark, or other proprietary right of ours or any of our licensors.</p>

  <p>User Content. “User Content” means any content, including any text, images, photos, audio, video, and all other forms of data or communication that a user provides or submits to us or our affiliates in any way including social media, Facebook, survey responses and Ratings and Reviews. User Content does not include any RestaurantABH Content. As between you and us, subject to any licenses and rights expressly granted herein, any User Content posted by you is owned by you.</p>

  <h2>Copyright and Trademarks</h2>

  <p>RestaurantABH Content is owned by or licensed to RestaurantABH and is protected by copyright, trademark, and other intellectual property rights and laws. Except as expressly provided in these Terms & Conditions, no RestaurantABH Content may be copied, reproduced, sold, republished, transmitted, displayed, reposted, or otherwise distributed for public or commercial purposes. Nothing contained in these Terms & Conditions shall be deemed grant to you or any other user any rights, title, or interest in or to any copyright, trademark, or other proprietary right of ours or any of our licensors.</p>

  <p>Without limiting the generality of any other provisions of these Terms & Conditions, you may not post, upload, or transmit any User Content that is protected by copyright, trade secret, or subject to any other third party intellectual property rights or privacy rights unless you are the owner of such rights or you have the express permission from the rightful owner of such rights to upload, post, or submit such content and to grant us all the rights granted herein.</p>

  <p>The foregoing provisions apply equally to and are for the benefit of RestaurantABH, its subsidiaries, affiliates and its third party content providers and licensors and each shall have the right to assert and enforce such provisions directly or on its own behalf.</p>

  <h2>Disclaimer of Warranty</h2>

  <p>THE SITE, ALL CONTENT, AND ALL PRODUCTS AND SERVICES ACCESSIBLE OR AVAILABLE THROUGH THE SITE ARE PROVIDED OR MADE AVAILABLE ON AN “AS IS” AND “AS AVAILABLE” BASIS WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION WARRANTIES OF MERCHANTABILITY FITNESS FOR A PARTICULAR PURPOSE, ACCURACY, COMPLETENESS, CURRENTNESS, FREEDOM FROM INTERRUPTION OR ERROR, VIRUSES OR OTHER DEFECT, AND NON-INFRINGEMENT. YOUR USE OF THE SITE AND OF ANY CONTENT, WHETHER RESTAURANTABH CONTENT OR USER CONTENT, IS ENTIRELY AT YOUR OWN RISK.</p>

  <p>YOUR SOLE AND EXCLUSIVE REMEDY FOR ANY DISPUTE WITH US IS TO DISCONTINUE YOUR USE OF THE SITE. IN NO EVENT SHALL WE OR OUR OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, LICENSORS, OR,CONTENT PROVIDERS (OUR “AFFILIATES”) BE LIABLE FOR ANY DAMAGES, INCLUDING, WITHOUT LIMITATION, INDIRECT, CONSEQUENTIAL, SPECIAL, INCIDENTAL, OR PUNITIVE DAMAGES RESULTING FROM THE USE OR INABILITY TO USE THE SITE OR THE CONTENT OR THE PRODUCTS OR SERVICES ACCESSIBLE OR AVAILABLE THROUGH THE SITE, WHETHER BASED ON WARRANTY, CONTRACT, TORT, OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT WE OR OUR AFFILIATES ARE ADVISED ON THE POSSIBLITY OF SUCH DAMAGES.</p>

  <p style="margin-bottom:50px;">© 2016 RestaurantABH Inc. All rights reserved.</p>

</div>
