body, html {
  background-color:#F9F9F9; width:100%; height:100%; font-family:'Source Sans Pro'; color:'#131d24';
}
.container {
  width:1000px;
}

div {
   position: relative;
}

.box_shadow {
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.15);
}

/* Sticky footer */
/* IE9+ and the other good browsers */
body .ember-view:first-of-type {
    position:relative; height: 100%;
}
#wrap{
  position:relative; min-height:100%; padding-bottom:150px; z-index:1;
}
/* End of sticky footer */

a:link, a:visited {
  color:#fd6f60; font-weight:600;
}
.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.inline-stars {
  display:inline;
}
.inline-dollars {
  display:inline;
}

/* Navigation */
.navigation_black {
  height:85px; line-height:85px; margin-bottom:85px; z-index:50; position: relative; background-color:#FFF;
}
  .navigation_black a:link, .navigation_black a:visited {
    color:#131d24; font-size:16px;
  }
  .navigation_black a:hover {

  }
  .navigation_black .app_name {
    font-size:20px !important;
  }
  .navigation_black ul {
    list-style:none;
  }
    .navigation_black ul li {
      float:left; padding-left:40px;
     }

.navigation_white {
  height:85px; line-height:85px; margin-bottom:85px; z-index:50; position: relative;
}
  .navigation_white a:link, .navigation_white a:visited {
    color:#FFF; font-size:16px;
  }
  .navigation_white a:hover {

  }
  .navigation_white .app_name {
    font-size:20px !important;
  }
  .navigation_white ul {
    list-style:none;
  }
    .navigation_white ul li {
      float:left; padding-left:40px;
     }

/* Login and Register */
.login_register_container {
  margin-bottom:300px;
}
.login_register_container .title {
  font-size: 24px; margin-bottom: 20px;
}
  .login_register_container .title .register {
    font-size: 18px; float: right;
  }
.login_register_container .button {
  background-color:#FD6F60; color:#FFF; width:100%; margin-top:30px; height:53px; line-height:53px; font-size:18px; font-weight: 600; padding:0px;
}
.login_register_container .input_fields {
  height:40px; line-height:40px; font-family:'Source Sans Pro'; font-weight: 600; font-size:16px;
}
.login_register_container .select_fields {
  height:54px; line-height:54px; font-family:'Source Sans Pro'; font-weight: 600; font-size:16px;
}
.register_select_list_country_container {
  float:left; width:50%;
}
.loginNotifications, .registerNotifications {
  display:none;
}

.selectize-control.single .selectize-input, .selectize-control.single .selectize-input input {
  font-family:'Source Sans Pro'; font-weight: 600; font-size:16px; padding-top:17px; padding-bottom:17px; background-color:#FFF; color:#000;
}
/* Footer */
footer {
  margin-top:-150px; height:150px; overflow:hidden; z-index:99; background-color:#131d24; position: relative;
}
  footer nav.additional {
    margin-top:50px; display:inline-block; height:30px;
  }
    footer nav.additional ul {
      padding:0px; margin:0px;
    }
    footer nav.additional li {
      list-style:none; float:left; height:30px; line-height:30px;
    }
      footer nav.additional li a:link, footer nav.additional li a:visited {
        font-size:16px; color:#FFF; opacity: 0.4; margin-right:15px;
      }
      footer nav.additional li a:hover {

      }

footer .copyright {
  font-size:14px; color:#ffffff; opacity: 0.4; display:block; clear:left;
}

footer nav.main {
  list-style:none; display:inline-block; height:30px; margin-top:50px;
}
  footer nav.main li {
    list-style:none; float:left; height:30px; line-height:30px;
  }
    footer nav.main li a:link, footer nav.main li a:visited {
      font-size:16px; color:#FFF; margin-left:20px;
    }
    footer nav.main li a:hover {

    }

/* Homepage */
.home_header_big {
  height:680px; z-index:10; top:0px; left:0px; width:100%; margin-top:-190px;
}
  .home_header_big .background {
    height:680px; background-size:cover; background-image:url('./images/home_header_big.jpeg'); background-position:center center; opacity: 0.9;
  }
  .home_header_big h1 {
    font-family:'Source Sans Pro'; font-weight: 300; font-size:48px; padding-top:230px; color:#FFF; text-align:center;
  }
  .home_header_big h2 {
    font-family:'Source Sans Pro'; font-weight: 600; font-size:20px; color:#FFF; text-align:center;
  }

h1.homepage_title {
  font-family:'Source Sans Pro'; font-weight: 300; font-size:30px; color:#131d24; text-align:center; margin-top:73px; margin-bottom:50px;
}

.homepage_location {
  float:left; width:25%; margin-bottom:25px;
}
  .homepage_location a.location, .homepage_location a.location:link, .homepage_location a.location:visited {
    font-family:'Source Sans Pro'; font-weight: 400; font-size:20px; color:#131d24;
  }
    .homepage_location a.location:hover {
      text-decoration:none;
    }
  .homepage_location .details {
    font-family:'Source Sans Pro'; font-weight: 400; font-size:18px; color:#A1A5A7;
  }

/* Restaurant box */
.restaurantbox {
  width:298px; margin-bottom:50px; float:left; margin-right:38px;
}
.restaurantbox:nth-child(3n) {
  width:298px; margin-bottom:50px; float:left; margin-right:0px;
}
  .restaurantbox img.restaurant_thumb {
  }
  .restaurantbox a.restaurant_name:link, .restaurantbox a.restaurant_name:visited {
    display:block; font-family:'Source Sans Pro'; font-weight: 400; font-size:24px; color:#131d24; margin-top:20px;
  }
    .restaurantbox a.restaurant_name:hover {
     }
  .restaurantbox .restaurant_marks {
    line-height:30px;
  }
    .restaurantbox .restaurant_marks .votes {
      font-family:'Source Sans Pro'; font-weight: 400; font-size:16px; color:#A1A5A7; margin-left:10px; margin-right:10px;
    }
    .restaurantbox .restaurant_marks .price_range {
      color:#A1A5A7; font-size:12px;
    }
      .restaurantbox .restaurant_marks .price_range .active {
        color:#000;
      }
    .restaurantbox .restaurant_food {
      color:#A1A5A7; font-size:16px; margin-top:5px; padding-top:5px; border-top-style:solid; border-top-width:1px; border-top-color:#e5e5e5;
    }
  .restaurantbox a.restaurant_reserve:link, .restaurantbox a.restaurant_reserve:visited {
    display:block; font-family:'Source Sans Pro'; font-weight: 600; font-size:18px; color:#131d24; background-color:#f9f9f9; height:36px; line-height:36px; border: solid 1px #e5e5e5; text-align:center; margin-top:30px;
  }
    .restaurantbox a.restaurant_reserve:hover {
     }

/* Restaurant */
.restaurant_header_big {
  height:340px; z-index:10; top:0px; left:0px; width:100%; margin-top:-170px;
}
  .restaurant_header_big .background {
    height:340px; background-size:cover; background-image:url('./images/home_header_big.jpeg'); background-position:center center; opacity: 0.9;
  }


.restaurant_main_container {
  position:relative; margin-top:-120px; z-index:20;
}
.restaurant_thumb_container {
  background-color:#FFF; padding:5px; border-radius: 10px; width:220px;
}
ul.restaurant_left_menu {
  list-style:none; padding:0px; margin-left:15px; margin-top:30px;
}
  ul.restaurant_left_menu li {
    margin-bottom:10px;
  }
    ul.restaurant_left_menu li a:link, ul.restaurant_left_menu li a:visited {
      font-family:'Source Sans Pro'; font-weight: 600; color:rgba(19, 29, 36, 0.4); font-size:18px;
    }
    ul.restaurant_left_menu li a:hover {
    }

.restaurant_details {
  margin-bottom:90px;
}
  .restaurant_details .title {
    font-family:'Source Sans Pro'; font-weight: 400; font-size:30px; color:#FFF; letter-spacing: 1px;
  }
  .restaurant_details .stats {
    color:#AEA5A7; font-size:16px;
  }
  .restaurant_details .statslogged img:hover {
    opacity:0.8; cursor: pointer; cursor: hand;
  }

  .restaurant_details .stats .votes, .restaurant_details .statslogged .votes {
    margin-left:10px; margin-right:5px;
  }
  .restaurant_details .stats .price_range, .restaurant_details .statslogged .price_range {
    margin-right:15px; font-size:12px;
  }
    .restaurant_details .stats .price_range .active, .restaurant_details .statslogged .price_range .active {
      color:#FFF;
    }
    .restaurant_details .stats .restaurant_food, .restaurant_details .statslogged .restaurant_food {

    }
.restaurant_data_container {
  padding:30px; margin-bottom:20px; background-color:#FFF;
}
  .restaurant_data_container .title {
    font-family:'Source Sans Pro'; font-weight: 400; color:rgba(19, 29, 36, 0.4); font-size:20px; margin:0px; padding:0px; margin-bottom:30px;
  }
  .restaurant_data_container .description_title {
    font-family:'Source Sans Pro'; font-weight: 400; color:rgba(19, 29, 36, 0.4); font-size:18px; margin-top:30px; margin-bottom:20px;
  }
  .restaurant_data_container .description_text {
    font-family:'Source Sans Pro'; font-weight: 400; color:#1a1a1a; font-size:18px;
  }
  .restaurant_data_container .reservation_column {
    width:25%; float:left;
  }
    .restaurant_data_container .reservation_column .button {
        background-color:#FD6F60; color:#FFF; width:100%; height:53px; line-height:53px; font-size:18px; font-weight: 600; padding:0px;
    }
    .restaurant_data_container .reservation_column .input_fields {
      height:40px; line-height:40px; font-family:'Source Sans Pro'; font-weight: 600; font-size:16px; border-style:solid; border-width:1px; border-color:#E3E3E3;
    }
    .restaurant_data_container .reservation_column .select_fields {
      height:54px; line-height:54px; font-family:'Source Sans Pro'; font-weight: 600; font-size:16px; border-style:solid; border-width:1px; border-color:#E3E3E3;
    }

.g-map-canvas {
  position:relative; width: 695px; height: 250px; margin-left:-30px;
}

/* Restaurant menu */
.restaurant_menu_item_title {
  margin-bottom:60px !important;
}
.restaurant_menu_item_title a:link, .restaurant_menu_item_title a:visited {
  font-size:16px; padding-left:12px; padding-right:12px;
}
.restaurant_menu_item_title a.active:link, .restaurant_menu_item_title a.active:visited {
  font-size:16px; padding-left:15px; padding-right:15px; background-color:#fd6f60; color:#FFF; line-height:30px; padding-top:10px; padding-bottom:10px; border-radius: 2px;
}
.restaurant_menu_item {
  height:50px;
}
.restaurant_menu_item_title_price {
  font-family:'Source Sans Pro'; font-width:400; color:#1a1a1a; font-size:18px; border-bottom-width:1px; border-bottom-color:#D8D8D8; border-bottom-style:dashed; height: 20px; line-height: 20px;
}
  .restaurant_menu_item_title_price .name {
    float:left; background-color:#FFF; padding-right:10px;
  }
  .restaurant_menu_item_title_price .price {
    float:right; background-color:#FFF; padding-left:10px;
  }
.restaurant_menu_item_description {
  font-family:'Source Sans Pro'; font-width:400; color:#888888; font-size:14px;
}

/* Complete reservation */
.complete_reservation_title {
  font-size:36px; margin-bottom:50px; text-align:center;
}
.complete_reservation_title_already_member {
  font-size:18px !important;
}
.complete_reservation_signin_left {
  float:none !important;
}
.complete_reservation_remaining_time {
  display:inline-block; float:right; font-family:'Source Sans Pro'; font-width:400; font-size:14px; color:#262626; border-radius: 2px; padding:10px; background-color:#FFC6C0;
}
.complete_reservation_restaurant_image {
  display:block; width:130px; height:113px; background-size:cover;
}
.complete_reservation_restaurant_details {

}
  .complete_reservation_restaurant_details .title {
    font-size:14px; margin-bottom:0px; font-weight:600;
  }
  .complete_reservation_restaurant_details .name {
    font-size:20px; color:#fd6f60; margin-bottom:20px;
   }
   .complete_reservation_restaurant_details .details {
      font-size:20px; color#:131d24;
    }
.complete_reservation_button_container {
  text-align:center; margin-bottom:220px;
}
  .complete_reservation_button_container .button {
    background-color:#FD6F60; color:#FFF; width:300px; margin-top:30px; height:53px; line-height:53px; font-size:18px; font-weight: 600; padding:0px;
  }
  .complete_reservation_button_container .description {
    font-size:14px; color:#878787; margin-top:40px;
  }
