body, html {
  background-color:#F9F9F9; width:100%; height:100%; font-family:'Source Sans Pro'; color:'#131d24';
}
.container {
  width:1000px;
}

div {
   position: relative;
}

.box_shadow {
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.15);
}

/* Sticky footer */
/* IE9+ and the other good browsers */
body .ember-view:first-of-type {
    position:relative !important; height: 100% !important;
}
/* Works in all browsers, does not effect other views within your application */
body > .ember-view {
    height: 100%;
}
#wrap{
  position:relative; min-height:100%; padding-bottom:150px; z-index:1;
}
.date_picker {
    font-family: 'Source Sans Pro'; font-weight: 600; font-size: 16px; padding-top: 17px; padding-bottom: 17px; background-color: #FFF; color: #000; background-image: linear-gradient(to bottom, #fefefe, #f2f2f2); background-repeat: repeat-x; border: 1px solid #b8b8b8; padding: 8px 8px; display: inline-block; width: 100%; overflow: hidden; position: relative; z-index: 1;
}

/* End of sticky footer */

a:link, a:visited {
  color:#fd6f60; font-weight:600;
}
.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Administraiton columns same height fix */
.column_same_height .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.column_same_height .row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.administration_fields .buttons_container {
  bottom: 0px; position: absolute; right: 15px;
}

.inline-stars {
  display:inline;
}
.inline-dollars {
  display:inline;
}

textarea {
  line-height:20px; padding:10px; font-family:'Source Sans Pro'; font-weight: 600; font-size:16px; border: 1px solid #ccc; border-radius: 4px; display:block; width:100%;
}

.not-full { /* Slectize not picked from dropdown fix */
  height:54px; line-height: 14px;
}

.remove_filter_span:hover {
  cursor: pointer; cursor: hand;
}

/* Navigation */
.navigation_black {
  height:85px; line-height:85px; margin-bottom:85px; z-index:50; position: relative; background-color:#FFF;
}
  .navigation_black a:link, .navigation_black a:visited {
    color:#131d24; font-size:16px;
  }
  .navigation_black a.active:link, .navigation_black a.active:visited {
    color:#fd6f60; font-size:16px;
  }
  .navigation_black a:hover {
    text-decoration:none; color:#FD7D70 !important;
  }

  .navigation_black .app_name {
    font-size:20px !important;
  }
  .navigation_black ul {
    list-style:none;
  }
    .navigation_black ul li.item {
      float:left; padding-left:40px;
     }

.navigation_white {
  height:85px; line-height:85px; margin-bottom:85px; z-index:50; position: relative;
}
  .navigation_white a:link, .navigation_white a:visited {
    color:#FFF; font-size:16px;
  }
  .navigation_white a:hover {
    text-decoration:none; color:#FD7D70 !important;
  }
  .navigation_white .app_name {
    font-size:20px !important;
  }
  .navigation_white ul {
    list-style:none;
  }
    .navigation_white ul li.item {
      float:left; padding-left:40px;
    }
.navigation_black .open a.dropdown-toggle:link, .navigation_black .open a.dropdown-toggle:visited, .navigation_white .open a.dropdown-toggle:link, .navigation_white .open a.dropdown-toggle:visited {
  text-decoration:none; color:#FD7D70 !important;
}
ul.dropdown-menu {
  top: 70px; left: 50px !important;
}
ul.dropdown-menu li a:link, ul.dropdown-menu li a:visited {
  color:#000; font-size: 14px;
}


/* Login and Register */
.login_register_container {
  margin-bottom:300px;
}
.login_register_container .title {
  font-size: 24px; margin-bottom: 20px;
}
  .login_register_container .title .register {
    font-size: 18px; float: right;
  }
.login_register_container .button {
  background-color:#FD6F60; color:#FFF; width:100%; margin-top:30px; height:53px; line-height:53px; font-size:18px; font-weight: 600; padding:0px;
}
.login_register_container .input_fields {
  height:40px; line-height:40px; font-family:'Source Sans Pro'; font-weight: 600; font-size:16px;
}
.login_register_container .select_fields {
  height:54px; line-height:54px; font-family:'Source Sans Pro'; font-weight: 600; font-size:16px;
}
.login_register_container input[type="radio"], .login_register_container input[type="checkbox"] {
  height:15px !important; width:15px !important;
}
.login_register_container .remember_me {
  position: relative; top: -2px; margin-left:5px;
}
.login_register_container .register {
  float:right;
}
.register_select_list_country_container {
  float:left; width:50%;
}
.loginNotifications, .registerNotifications {
  display:none;
}

.selectize-control.single .selectize-input, .selectize-control.single .selectize-input input {
  font-family:'Source Sans Pro'; font-weight: 600; font-size:16px; padding-top:17px; padding-bottom:17px; background-color:#FFF; color:#000;
}
/* Footer */
footer {
  margin-top:-150px; height:150px; overflow:hidden; z-index:99; background-color:#131d24; position: relative;
}
  footer nav.additional {
    margin-top:50px; display:inline-block; height:30px;
  }
    footer nav.additional ul {
      padding:0px; margin:0px;
    }
    footer nav.additional li {
      list-style:none; float:left; height:30px; line-height:30px;
    }
      footer nav.additional li a:link, footer nav.additional li a:visited {
        font-size:16px; color:#FFF; opacity: 0.4; margin-right:15px;
      }
      footer nav.additional li a:hover {

      }

footer .copyright {
  font-size:14px; color:#ffffff; opacity: 0.4; display:block; clear:left;
}

footer nav.main {
  list-style:none; display:inline-block; height:30px; margin-top:50px;
}
  footer nav.main li {
    list-style:none; float:left; height:30px; line-height:30px;
  }
    footer nav.main li a:link, footer nav.main li a:visited {
      font-size:16px; color:#FFF; margin-left:20px;
    }
    footer nav.main li a:hover {

    }

/* Homepage */
.home_header_big {
  height:680px; z-index:10; top:0px; left:0px; width:100%; margin-top:-190px;
}
  .home_header_big .background {
    height:680px; background-size:cover; background-image:url('./images/home_header_big.jpeg'); background-position:center center; opacity: 0.9;
  }
  .home_header_big h1 {
    font-family:'Source Sans Pro'; font-weight: 300; font-size:48px; padding-top:200px; color:#FFF; text-align:center;
  }
  .home_header_big h2 {
    font-family:'Source Sans Pro'; font-weight: 600; font-size:20px; color:#FFF; text-align:center;
  }

h1.homepage_title {
  font-family:'Source Sans Pro'; font-weight: 300; font-size:30px; color:#131d24; text-align:center; margin-top:73px; margin-bottom:50px;
}

.homepage_location {
  float:left; width:25%; margin-bottom:25px;
}
  .homepage_location a.location, .homepage_location a.location:link, .homepage_location a.location:visited {
    font-family:'Source Sans Pro'; font-weight: 400; font-size:20px; color:#131d24;
  }
    .homepage_location a.location:hover {
      text-decoration:none;
    }
    .homepage_location a.location_active:link {
      font-family:'Source Sans Pro'; font-weight: 400; font-size:20px; color:#FD6F60;
    }
  .homepage_location .details {
    font-family:'Source Sans Pro'; font-weight: 400; font-size:18px; color:#A1A5A7;
  }

/* Homepage reservation search */
.homepage_reservation_search {
  background-color:#FFF; margin-top:120px;
}
  .homepage_reservation_search .reservation_column {
    width:15%; float:left; height:54px;
  }
    .homepage_reservation_search .reservation_column .button {
        background-color:#FD6F60; color:#FFF; width:100%; height:54px; line-height:54px; font-size:18px; font-weight: 600; padding:0px; border-radius:0px;
    }
    .homepage_reservation_search .reservation_column .input_fields {
      height:40px; line-height:40px; font-family:'Source Sans Pro'; font-weight: 600; font-size:16px; border-style:solid; border-width:1px; border-color:#E3E3E3;
    }
    .homepage_reservation_search .reservation_column .select_fields {
      height:54px; line-height:54px; font-family:'Source Sans Pro'; font-weight: 600; font-size:16px;
    }
  .homepage_reservation_search .reservation_column_search_icon {
      width:5%; float:left;
  }
  .homepage_reservation_search .reservation_column_search_icon span {
    width:100%; height:54px; line-height:54px; color:#BBBBBB; text-align:center; font-size:17px;
   }
   .homepage_reservation_search .reservation_column_input {
       width:35%; float:left;
   }
   .homepage_reservation_search .reservation_column_input .input_fields {
      height:54px !important; line-height:54px !important; color:#2B2B2B; border:0px; box-shadow: none; font-size:18px;
   }

/* Restaurant box */
.restaurantbox {
  width:298px; margin-bottom:50px; float:left; margin-right:38px;
}
.restaurantbox:nth-child(3n) {
  width:298px; margin-bottom:50px; float:left; margin-right:0px;
}
  .restaurantbox img.restaurant_thumb {
  }
  .restaurantbox a.restaurant_name:link, .restaurantbox a.restaurant_name:visited {
    display:block; font-family:'Source Sans Pro'; font-weight: 400; font-size:24px; color:#131d24; margin-top:20px;
  }
    .restaurantbox a.restaurant_name:hover {
     }
  .restaurantbox .restaurant_marks {
    line-height:30px;
  }
    .restaurantbox .restaurant_marks .votes {
      font-family:'Source Sans Pro'; font-weight: 400; font-size:16px; color:#A1A5A7; margin-left:10px; margin-right:10px;
    }
    .restaurantbox .restaurant_marks .price_range {
      color:#A1A5A7; font-size:12px;
    }
      .restaurantbox .restaurant_marks .price_range .active {
        color:#000;
      }
    .restaurantbox .restaurant_food {
      color:#A1A5A7; font-size:16px; margin-top:5px; padding-top:5px; border-top-style:solid; border-top-width:1px; border-top-color:#e5e5e5;
    }
  .restaurantbox a.restaurant_reserve:link, .restaurantbox a.restaurant_reserve:visited {
    display:block; font-family:'Source Sans Pro'; font-weight: 600; font-size:18px; color:#131d24; background-color:#f9f9f9; height:36px; line-height:36px; border: solid 1px #e5e5e5; text-align:center; margin-top:30px;
  }
    .restaurantbox a.restaurant_reserve:hover {
      color:#FFF; background-color:#fd6f60; text-decoration:none;
    }

/* Restaurant */
.restaurant_header_big {
  height:340px; z-index:10; top:0px; left:0px; width:100%; margin-top:-170px;
}
  .restaurant_header_big .background {
    height:340px; background-size:cover; background-image:url('./images/home_header_big.jpeg'); background-position:center center; opacity: 0.9;
  }


.restaurant_main_container {
  position:relative; margin-top:-120px; z-index:20;
}
.restaurant_thumb_container {
  background-color:#FFF; padding:5px; border-radius: 10px; width:220px;
}
ul.restaurant_left_menu {
  list-style:none; padding:0px; margin-left:15px; margin-top:30px;
}
  ul.restaurant_left_menu li {
    margin-bottom:10px;
  }
    ul.restaurant_left_menu li a:link, ul.restaurant_left_menu li a:visited {
      font-family:'Source Sans Pro'; font-weight: 600; color:rgba(19, 29, 36, 0.4); font-size:18px;
    }
    ul.restaurant_left_menu li a:hover {
      color:#000;
    }

.restaurant_details {
  margin-bottom:90px;
}
  .restaurant_details .title {
    font-family:'Source Sans Pro'; font-weight: 400; font-size:30px; color:#FFF; letter-spacing: 1px;
  }
  .restaurant_details .stats, .restaurant_details .statslogged {
    color:#AEA5A7; font-size:16px;
  }

  .restaurant_details .stats .votes, .restaurant_details .statslogged .votes {
    margin-left:10px; margin-right:5px;
  }
  .restaurant_details .stats .price_range, .restaurant_details .statslogged .price_range {
    margin-right:15px; font-size:12px;
  }
    .restaurant_details .stats .price_range .active, .restaurant_details .statslogged .price_range .active {
      color:#FFF;
    }
    .restaurant_details .stats .restaurant_food, .restaurant_details .statslogged .restaurant_food {

    }


.restaurant_details .restaurant_rate_this_place {
  float:right; font-family:'Source Sans Pro'; font-weight: 600; color:#131d24; font-size:16px; margin-top: -15px; padding: 10px; background-image:url('./images/star_active.png'); background-position:10px center; background-repeat:no-repeat; padding-left:35px;
}

#votePopup {
  width:700px; height:580px; left:50%; top:50%; margin-left:-350px; margin-top:-290px;
}
#votePopup .modal-dialog {
  margin:0px; left:0px; top:0px; width:700px; height:580px; padding: 0px;
}
  #votePopup .modal-dialog .modal-content {
   margin:0px; left:0px; top:0px; width:700px; height:580px;  padding-left: 100px; padding-right: 100px;
  }
    #votePopup .modal-dialog .modal-content h1 {
      line-height:25px; font-family:'Source Sans Pro'; font-weight: 400; font-size:24px; margin-bottom:35px; color:#131d24; text-align:center; margin-top:30px;
    }

    #votePopup .modal-dialog .modal-content .close {
      position: absolute; right: -80px;
    }
    #votePopup .modal-dialog .modal-content .stars_container {
      margin-bottom:50px; text-align:center; display: flex; flex-direction: row-reverse; left: -100px;
    }
      #votePopup .modal-dialog .modal-content .star_active {
        display:inline-block; background-image:url('./images/vote_star_active.png'); background-repeat:no-repeat; width:36px; height:34px; margin-right:15px;
      }
      #votePopup .modal-dialog .modal-content .star {
        display:inline-block; background-image:url('./images/vote_star.png'); background-repeat:no-repeat; width:36px; height:34px; margin-right:15px;
      }
        #votePopup .modal-dialog .modal-content div.star:hover {
          background-image:url('./images/vote_star_active.png'); background-repeat:no-repeat;
        }
        #votePopup .modal-dialog .modal-content div.star:hover ~ div {
          background-image:url('./images/vote_star_active.png'); background-repeat:no-repeat;
        }

        #votePopup .modal-dialog .modal-content .star_active:hover, #votePopup .modal-dialog .modal-content .star:hover {
          cursor: pointer; cursor: hand;
        }

    #votePopup .modal-dialog .modal-content .comment_field {
      height:230px; line-height:25px; font-family:'Source Sans Pro'; font-weight: 600; font-size:16px; border-style:solid; border-width:1px; border-color:#E3E3E3; width:465px; margin-bottom:50px; padding:20px;
    }

    #votePopup .modal-dialog .modal-content .vote_button {
    background-color:#FD6F60; color:#FFF; width:100%; height:53px; line-height:53px; font-size:18px; font-weight: 600; padding:0px;
    }

.restaurant_data_container {
  padding:30px; margin-bottom:20px; background-color:#FFF;
}
  .restaurant_data_container .title {
    font-family:'Source Sans Pro'; font-weight: 400; color:rgba(19, 29, 36, 0.4); font-size:20px; margin:0px; padding:0px; margin-bottom:30px;
  }
  .restaurant_data_container .description_title {
    font-family:'Source Sans Pro'; font-weight: 400; color:rgba(19, 29, 36, 0.4); font-size:18px; margin-top:30px; margin-bottom:20px;
  }
  .restaurant_data_container .description_text {
    font-family:'Source Sans Pro'; font-weight: 400; color:#1a1a1a; font-size:18px;
  }
  .restaurant_data_container .reservation_column {
    width:25%; float:left; height:54px;
  }
    .restaurant_data_container .reservation_column .button {
        background-color:#FD6F60; color:#FFF; width:100%; height:53px; line-height:53px; font-size:18px; font-weight: 600; padding:0px;
    }
    .restaurant_data_container .reservation_column .input_fields {
      height:40px; line-height:40px; font-family:'Source Sans Pro'; font-weight: 600; font-size:16px; border-style:solid; border-width:1px; border-color:#E3E3E3;
    }
    .restaurant_data_container .reservation_column .select_fields {
      height:54px; line-height:54px; font-family:'Source Sans Pro'; font-weight: 600; font-size:16px; border-style:solid; border-width:1px; border-color:#E3E3E3;
    }

.g-map-canvas {
  position:relative; width: 695px; height: 250px; margin-left:-30px;
}

.availability_text {
  font-family:'Source Sans Pro'; font-weight: 400; color:#131d24; font-size:20px; margin-top:30px; margin-bottom:5px;
}
.tables_left {
  font-family:'Source Sans Pro'; font-weight: 400; color:#A2A6A8; font-size:14px;
}
.select_time_best_fits {
  font-family:'Source Sans Pro'; font-weight: 400; color:#131d24; font-size:18px; margin-top:30px; margin-bottom:10px;
}
.reservation_choose_time{
}
  .reservation_choose_time a:link, .reservation_choose_time a:visited {
    display:inline-block; height:34px; line-height:34px; color:#FFF; background-color:#FD6F60; font-family:'Source Sans Pro'; font-weight: 600; font-size:16px; padding-left:15px; padding-right:15px; border-radius: 2px; margin-right:10px;
  }
  .reservation_choose_time a:hover {
  }

/* Restaurants filter box on restaurants page */
.restaurants_filter {
  margin-top:-50px; margin-bottom:60px; background-color:#FFF;
}
  .reservation_column_search_icon {
    width:5%; float:left;
  }
  .reservation_column_search_icon span {
    width:100%; height:54px; line-height:54px; color:#BBBBBB; text-align:center; font-size:17px;
   }
  .restaurants_filter .reservation_column_button {
    width:15%; float:left;
  }
    .restaurants_filter .reservation_column_button .button {
        background-color:#fd8c80; color:#FFF; width:100%; height:54px; line-height:54px; font-size:18px; font-weight: 600; padding:0px;
    }
  .restaurants_filter .reservation_column_input {
    width:60%; float:left;
  }
    .restaurants_filter .reservation_column_input .input_fields {
       height:54px !important; line-height:54px !important; color:#000; border:0px; box-shadow: none; font-size:18px;
     }
  .restaurants_filter .reservation_column_filter {
    width:20%; float:left; font-family:'Source Sans Pro'; font-weight: 600; font-size:18px; height:54px; line-height:54px; text-align:center; position:relative;
  }
    .restaurants_filter .reservation_column_filter span.arrow_down {
      font-size:11px; color:#BBBBBB; font-weight: 300; padding-left:10px;
    }
  .restaurants_filter .reservation_column_filter:hover {
    cursor: pointer; cursor: hand;
  }
  .restaurants_filter .reservation_column .input_fields {
    height:40px; line-height:40px; font-family:'Source Sans Pro'; font-weight: 600; font-size:16px; border-style:solid; border-width:1px; border-color:#E3E3E3;
  }

    /* Filter popup details */
    .restaurants_filter .reservation_column_filter .filter_details {
      width:300px; background-color:#FFF; display:none; position:absolute; left:-70px; top:50px; z-index:999; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; cursor: auto; padding:20px; text-align:left;
    }
      .restaurants_filter .reservation_column_filter .filter_details .triangle {
        position: absolute; left: 50%; margin-left:-10px; bottom: 100%; width:18px; height:14px; background-image:url('./images/box_triangle_top.png');
      }
    .restaurants_filter .reservation_column_filter:hover .filter_details {
        display:block;
    }

    .restaurants_filter .reservation_column_filter .filter_details h4 {
      font-family:'Source Sans Pro'; font-weight: 600; font-size:14px; color: rgba(46, 57, 63, 0.6); margin-bottom:10px;
    }

    .restaurants_filter .reservation_column_filter .filter_details .cousine_link:link, .restaurants_filter .reservation_column_filter .filter_details .cousine_link:visited {
      display:block; width:50%; height:23px; line-height:23px; float:left; color:#131d24; font-family:'Source Sans Pro'; font-weight: 600; font-size:14px;
    }
    .restaurants_filter .reservation_column_filter .filter_details .cousine_link_active:link, .restaurants_filter .reservation_column_filter .filter_details .cousine_link_active:visited {
      display:block; width:50%; height:23px; line-height:23px; float:left; color: #fd8c80; font-family:'Source Sans Pro'; font-weight: 600; font-size:14px;
    }
      .restaurants_filter .reservation_column_filter .filter_details .cousine_link_active:hover {
        text-decoration:none;
      }
    .restaurants_filter .reservation_column_filter .filter_details .inline-dollars {
      font-size:18px; color:#dbdbdb; letter-spacing: 0px; font-family:'Source Sans Pro'; font-weight: 600; margin:0px; padding:0px; letter-spacing: 1px;
    }
    .restaurants_filter .reservation_column_filter .filter_details .inline-dollars span:hover {
      color:#000; cursor: pointer; cursor: hand;
    }
      .restaurants_filter .reservation_column_filter .filter_details .inline-dollars span.active {
        font-size:18px; color:#fd6f60; letter-spacing: 0px; font-family:'Source Sans Pro'; font-weight: 600; margin:0px; padding:0px;
      }
        .restaurants_filter .reservation_column_filter .filter_details .inline-dollars span.active:hover {
          color:#000; cursor: pointer; cursor: hand;
        }

    .restaurants_filter .reservation_column_filter .filter_details .inline-stars img:hover {
      opacity: 0.4; cursor: pointer; cursor: hand;
    }

/* Restaurants breadcrumb */
.breadcrumb li .inline-dollars span {
  color:#BDBDBD;
}
  .breadcrumb li .inline-dollars span.active {
    color:#000;
  }
.breadcrumb li .inline-stars {
  margin-left:10px; top:-2px;
}

/* Restaurants pagination */
.restaurants_nav_pagination {
  text-align:center; margin-bottom:50px; margin-top:20px;
}
.pagination {
  list-style:none;
}
  .pagination .ember-view {
    margin-right:5px; display:inline-block;
  }
  .pagination .ember-view li {

  }
  .pagination .ember-view li.active a:link, .pagination .ember-view  li.active a:visited {
        margin-right:10px; font-size:14px; background-color:#fd6f60; color:#FFF; border:0px; padding:7px; padding-left:12px; padding-right:12px; border: solid 1px #eaeaee; border-radius:3px;
    }
    .pagination .ember-view  li.active a:hover {

    }
  .pagination .ember-view  li a:link, .pagination .ember-view  li a:visited {
      margin-right:10px; font-size:14px; color: rgba(46, 57, 63, 0.6); padding:10px; padding:7px; padding-left:12px; padding-right:12px; background-color:#FFF; border: solid 1px #eaeaee; border-radius:3px;
  }
  .pagination .ember-view  li a:hover {

  }

/* Restaurant menu */
.restaurant_menu_item_title {
  margin-bottom:60px !important;
}
.restaurant_menu_item_title a:link, .restaurant_menu_item_title a:visited {
  font-size:16px; padding-left:12px; padding-right:12px; line-height:30px; padding-top:10px; padding-bottom:10px;
}
.restaurant_menu_item_title a.active:link, .restaurant_menu_item_title a.active:visited {
  font-size:16px; padding-left:15px; padding-right:15px; background-color:#fd6f60; color:#FFF; line-height:30px; padding-top:10px; padding-bottom:10px; border-radius: 2px;
}
.restaurant_menu_item {
  height:50px;
}
.restaurant_menu_item_title_price {
  font-family:'Source Sans Pro'; font-weight:400; color:#1a1a1a; font-size:18px; border-bottom-width:1px; border-bottom-color:#D8D8D8; border-bottom-style:dashed; height: 20px; line-height: 20px;
}
  .restaurant_menu_item_title_price .name {
    float:left; background-color:#FFF; padding-right:10px;
  }
  .restaurant_menu_item_title_price .price {
    float:right; background-color:#FFF; padding-left:10px;
  }
.restaurant_menu_item_description {
  font-family:'Source Sans Pro'; font-weight:400; color:#888888; font-size:14px;
}

/* Gallery restaurant details page */
.big_image {
  width:333px; height: 496px; display: table-cell; vertical-align: middle; float:left; margin-right:8px; margin-bottom:8px;
}
  .big_image img {
    height:100%; width:100%; object-fit: cover;
  }

.small_image {
  width:162px; height:160px; display: table-cell; vertical-align: middle; float:left; margin-right:8px; margin-bottom:8px;
}
  .small_image img {
    height:100%; width:100%; object-fit: cover;
  }

.big_image:hover, .small_image:hover {
  opacity:0.8;
}

/* Complete reservation */
.complete_reservation_title {
  font-size:36px; margin-bottom:50px; text-align:center;
}
.complete_reservation_title_already_member {
  font-size:18px !important;
}
.complete_reservation_signin_left {
  float:none !important;
}
.complete_reservation_remaining_time {
  display:inline-block; float:right; font-family:'Source Sans Pro'; font-weight:400; font-size:14px; color:#262626; border-radius: 2px; padding:10px; background-color:#FFC6C0;
}
.complete_reservation_restaurant_image {
  display:block; width:130px; height:113px; background-size:cover;
}
.complete_reservation_restaurant_details {

}
  .complete_reservation_restaurant_details .title {
    font-size:14px; margin-bottom:0px; font-weight:600;
  }
  .complete_reservation_restaurant_details .name {
    font-size:20px; color:#fd6f60; margin-bottom:20px;
   }
   .complete_reservation_restaurant_details .details {
      font-size:20px; color:#131d24;
    }
.complete_reservation_button_container {
  text-align:center; margin-bottom:220px;
}
  .complete_reservation_button_container .button {
    background-color:#FD6F60; color:#FFF; width:300px; margin-top:30px; height:53px; line-height:53px; font-size:18px; font-weight: 600; padding:0px;
  }
  .complete_reservation_button_container .description {
    font-size:14px; color:#878787; margin-top:40px;
  }

/* Administration */
.wider_search_text_column_style {
  width:200px !important;
}
.administration_headline {
  height:54px; line-height:54px; background-color:#FFF;
}
  .administration_headline .navigation_column {
    width:70%; float:left;
  }
  .administration_headline .navigation_column ul.navigation {
    list-style:none; padding-left: 20px;
  }
    .administration_headline .navigation_column ul.navigation li {
      display:inline-block; margin-right:20px;
    }
      .administration_headline .navigation_column ul.navigation li a:link, .administration_headline .navigation_column ul.navigation li a:visited {
        font-family:'Source Sans Pro'; font-weight:600; font-size:16px; color:#BBBBBB;
      }
      .administration_headline .navigation_column ul.navigation li a.active:link, .administration_headline .navigation_column ul.navigation li a.active:visited {
        font-family:'Source Sans Pro'; font-weight:600; font-size:16px; color:#fd6f60;
      }
  .administration_headline .search_column {
        width:20px; float:right;
    }
    .administration_headline .search_column span {
      width:100%; height:54px; line-height:54px; color:#BBBBBB; text-align:center; font-size:17px;
     }
     .administration_headline .input_column {
        width:100px; float:right;
     }
     .administration_headline .input_column .input_fields {
        height:54px !important; line-height:54px !important; color:#BBBBBB; border:0px; box-shadow: none; font-size:18px;
     }
.administration_headline_button {
  background-color:#FD6F60; color:#FFF; width:100%; height:53px; line-height:53px; font-size:18px; font-weight: 600; padding:0px;
}
  .administration_headline_button:hover {
    background-color:#FF8C80; color:#FFF;
  }

/* Administration / Homepage */
.administration_homepage_item {
  background-color:#FFF;
}
  .administration_homepage_item .number {
     font-family:'Source Sans Pro'; font-weight:400; font-size:48px; color:#131d24; text-align:center; padding-top:60px;
  }
  .administration_homepage_item .title {
     font-family:'Source Sans Pro'; font-weight:600; font-size:16px; color:#131d24; text-align:center; padding-bottom:60px;
  }
  .administration_homepage_item a.add_option:link, .administration_homepage_item a.add_option:visited {
    position:relative; bottom:-17px; left:50%; margin-left:-75px; display:block; width:150px; height:35px; line-height:35px; background-color:#fd6f60; text-align:center; color:#FFF; font-size:16px;
  }
    .administration_homepage_item a.add_option:hover {
    }

/* Administration / Table */
.administration_table {
  font-family:'Source Sans Pro'; font-weight:600; font-size:16px; color:#1e1e1e; background-color:#FFF;
}
  .administration_table tbody tr:hover {
      color:#FD6F60;
    }
  .administration_table thead td {
    font-family:'Source Sans Pro'; font-weight:600; font-size:14px; color: rgba(30, 30, 30, 0.4);
  }
  .administration_table td {
    padding:15px !important;
  }
  .administration_table td.options span, .administration_restaurant_menu_table_options span {
    color: rgba(30, 30, 30, 0.4); font-size:16px; margin-right:5px;
  }
    .administration_table td.options span:hover, .administration_restaurant_menu_table_options span:hover {
       cursor: pointer; cursor: hand;
    }
  .administration_table td input[type="radio"], .administration_table td input[type="checkbox"] {
    height:12px !important; width:12px !important; margin-right:15px;
  }

/* Administration fields */
.administration_fields {
  background-color:#FFF; padding:20px; margin-bottom:50px;
}
  .administration_fields .button {
    display:inline-block; padding:0px; padding-left:35px; padding-right:35px; background-color:#FD6F60; color:#FFF; height:53px; line-height:53px; font-size:18px; font-weight: 600;
  }
  .administration_fields .cancel_button {
       display:inline-block; padding:0px; padding-left:35px; padding-right:35px; background-color:#F9F9F9; color:#131d24; height:53px; line-height:53px; font-size:18px; font-weight: 600; margin-right:15px; border: solid 1px #e6e8eb;
  }
  .administration_fields .input_fields {
    height:40px; line-height:40px; font-family:'Source Sans Pro'; font-weight: 600; font-size:16px;
  }
  .administration_fields .select_fields {
    height:54px; line-height:54px; font-family:'Source Sans Pro'; font-weight: 600; font-size:16px;
  }
  .administration_fields input[type="radio"], .login_register_container input[type="checkbox"] {
    height:15px !important; width:15px !important;
  }
  .administration_fields .input_title {
    font-family:'Source Sans Pro'; font-weight: 600; font-size:16px; color:#1e1e1e;
  }

.multiply_selection .selectize-input {
  height:54px; line-height: 34px;
}


.admin_restaurants_add_tabls_container {
  background-color:#FFF; border-top-style:solid; border-left-style:solid; border-right-style:solid; border-top-color:#D8D8D8; border-left-color:#D8D8D8; border-right-color:#D8D8D8; border-top-width:1px; border-left-width:1px; border-right-width:1px; border-bottom-width:0px; width:400px;
}
.admin_restaurants_add_tabs a:link, .admin_restaurants_add_tabs a:visited {
  color: rgba(19, 29, 36, 0.4);
}
.admin_restaurants_add_tabs a.active:link, .admin_restaurants_add_tabs a.active:visited {
  color: #fd6f60;
}


.admin_restaurants_add_map_container .g-map-canvas {
  position:relative; width: 450px; height: 250px; margin-left: 0px;
}
.admin_restaurants_add_map_container .ember-cli-g-map {
  position:relative; width: 455px; height: 250px;
}
.administration_menu_table_div_row {
  line-height: 34px; margin-bottom: 5px;
}
  .administration_menu_table_div_row input {
    line-height: 40px !important; height:40px !important;
  }

.admin_menu_buttons_type {
}
  .admin_menu_buttons_type .menu_button {
    color:rgba(19, 29, 36, 0.4); padding:7px; padding-left:12px; padding-right:12px; background-color:#FFF; border:0px; font-family:'Source Sans Pro'; font-weight: 600; font-size:16px; float:left;
  }
  .admin_menu_buttons_type .menu_button:hover {
    cursor: pointer; cursor: hand;
  }
  .admin_menu_buttons_type .active {
    color:#FFF; padding:7px; padding-left:12px; padding-right:12px; background-color:#fd6f60; border:0px; border-radius: 5px; font-family:'Source Sans Pro'; font-weight: 600; font-size:16px;  float:left;
  }
  .admin_menu_buttons_add {
    color:#FFF; padding:3px; padding-left:12px; padding-right:12px; background-color:#A1A5A8; border:0px; border-radius: 5px; font-family:'Source Sans Pro'; font-weight: 600; font-size:16px;
  }

/* Dropzone */
.dropzone {
  background-color:#FFF; border: solid 1px #e6e8eb; margin-bottom:25px; background-image:url('./images/uploader_logo.png'); background-position:center center; background-repeat:no-repeat; height: 50px !important;
}
.dropzone .dz-message {
  margin-top: 75px; color: #CCCCCC; font-weight: 600;
}
.dropzone .dz-preview {
  margin:0px; margin-top:-5px;
}

.admin_restaurants_replace_image_container {
}
.admin_restaurants_replace_image_container img {
  z-index:5;
}
.admin_restaurants_replace_image_container .overlay {
  display:none; width:100%; height:100%; background-color:#000; z-index:10; position:absolute; opacity:0.5;
}
  .admin_restaurants_replace_image_container .overlay span.replace_image {
    font-size:30px; color:#FFF; position:absolute; left:50%; top:50%; margin-left:-15px; margin-top:-15px;
  }
.admin_restaurants_replace_image_container:hover .overlay {
  display:block; width:100%; height:100%; background-color:#000; z-index:10; position:absolute; cursor: pointer; cursor: hand;
}

/* Administration Gallery */
.add_photos_button:link, .add_photos_button:visited {
  background-color:#A1A5A8; float:right; height:26px; line-height:26px; color:#FFF; text-align:center; width:115px; border-radius: 4px;
}
.add_photos_button:hover {
  background-color:#87898A; text-decoration:none;
}

.administration_gallery .dropzone {
  background-color:#FAFAFA; border: solid 1px #e6e8eb; margin-bottom:25px; background-image:url('./images/uploader_logo.png'); background-position:center center; background-repeat:no-repeat; height: 530px !important;
}
.administration_gallery .dropzone .dz-message {
  margin-top: 105px; color: #A5A5A5; font-weight: 600;
}
.administration_gallery .dropzone .dz-preview {
  margin:0px; margin-top:-5px; margin-right:10px; margin-bottom:10px;
}
.thumb_container {
  overflow:auto;
}
  .thumb_container .thumb {
    float:left; width:120px; height:120px; margin-right:15px; margin-bottom:15px; background-size:cover; position:relative;
  }
  .thumb_container .thumb:nth-child(7n+7) {
    float:left; width:120px; height:120px; margin-right:0px; margin-bottom:15px; background-size:cover; position:relative;
  }
  .thumb_container .thumb .hover {
    display:none; position:absolute; width:100%; height:100%; top:0px; left:0px;
  }
    .thumb_container .thumb .hover span {
      display:block; text-align:center; color:#fd6f60; font-size: 40px; font-weight: 300; padding-top:38px;
    }
  .thumb_container .thumb:hover .hover {
    display:block; background-color:#FFF; opacity:0.7; cursor: pointer; cursor: hand;
  }
.see_all_photos {
  float:right; font-family:'Source Sans Pro'; font-weight: 600; font-size:16px; margin-top: 20px; margin-right: 25px; color:#000;
}
.see_all_photos {
  cursor: pointer; cursor: hand;
}

/* Twitter typeahead */
.suggestion_box_container {
  position:absolute; left:0px; top:60px; width:500px; background-color:#FFF; z-index:9999;
}
  .suggestion_box_container_item {
    padding:10px;
  }
     .suggestion_box_container_item:hover {
       padding:10px; cursor: pointer; cursor: hand; background-color:#F9F9F9;
     }
  .suggestion_box_container_item .title {
    font-family:'Source Sans Pro'; font-weight: 600; font-size:16px;
  }
  .suggestion_box_container_item .title .stars_container {
     float:right;
   }

