<div class="container" style="margin-top:80px;">
  <ul class="nav nav-tabs">
    {{#if displayAdditionalOptions}}
       <li class="admin_restaurants_add_tabs" role="presentation">{{#link-to 'admin.restaurants.add.info' idRestaurant}}Basic info{{/link-to}}</li>
      <li class="admin_restaurants_add_tabs" role="presentation">{{#link-to 'admin.restaurants.add.menu' idRestaurant}}Menu{{/link-to}}</li>
      <li class="admin_restaurants_add_tabs" role="presentation">{{#link-to 'admin.restaurants.add.tables' idRestaurant}}Tables{{/link-to}}</li>
      <li class="admin_restaurants_add_tabs" role="presentation">{{#link-to 'admin.restaurants.add.gallery' idRestaurant}}Gallery{{/link-to}}</li>
    {{/if}}
  </ul>
</div>