<header class="container-fluid {{styleClass}}">
  <div class="container">
    <nav>
      {{#link-to 'index' class='app_name'}}Restaurant ABH{{/link-to}}
      <ul class="navbar-right">
        <li class="item">{{#link-to 'index'}}Home{{/link-to}}</li>
        <li class="item">{{#link-to 'restaurants' 1}}Restaurants{{/link-to}}</li>

        {{#if currentUser.userLoggedIn}}
          <li class="dropdown item">
            <a href="javascript:void(0);" style="position:relative;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true" style="padding-right:5px; font-size:12px; color:#616161;"></span> {{currentUser.userFirstName}}</a>

            <ul class="dropdown-menu">
              <li><a href="javascript:void(0);" {{action 'logOut'}}>Logout</a></li>
              <li>{{#link-to 'reservations'}}Reservations{{/link-to}}</li>
            </ul>

          </li>

          {{#if currentUser.isAdmin}}
              <li class="item">{{#link-to 'admin.index'}}Administration{{/link-to}}</li>
          {{/if}}

        {{else}}
          <li class="item">{{#link-to 'login'}}Login{{/link-to}}</li>
        {{/if}}

      </ul>
    </nav>
  </div>
</header>