{{#admin-navigation-bar addOption=false navColumn=12}}{{/admin-navigation-bar}}

<div class="container" style="margin-top:80px;">
  <div class="row">
    <div class="col-md-4">
      <div class="administration_homepage_item box_shadow">
        <div class="number">5142</div>
        <div class="title">Restaurants</div>

        <a class="add_option" href="#">Add restaurant</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="administration_homepage_item box_shadow">
        <div class="number">251</div>
        <div class="title">Locations</div>

        <a class="add_option" href="#">Add new location</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="administration_homepage_item box_shadow">
        <div class="number">412</div>
        <div class="title">Users</div>

        <a class="add_option" href="#">Add new user</a>
      </div>
    </div>
  </div>
</div>